<html>
<form action="{{url_for('index')}}" method="POST">
	<label>server</label> <input type="text" name="server" value="{{server}}"/>
	<label>db</label> <input type="text" name="db" value="{{db}}"/>
	<label>collection</label> <input type="text" name="collection" value="{{collection}}"/>
	<hr/>
	<label>find</label> button:find, count ... <br/>
	<textarea name="query" rows=20 cols=100>{{find_query}}</textarea>
	<br/>
	<button type=submit name="find" value="find">find</button>
	<button type=submit name="insert" value="insert">insert</button>
</form>
	<div>
		{%for r in result%}
			{{r}}<br/>
		{% endfor %}
	</div>
</html>
